body{
    background-image:url("palm\ picture\ \(1\).jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300vh;
}


h1{
    font-size:xx-large;
    font-family:'Times New Roman';
    text-align:center;
    color: darkblue;
}    

p{
    font-size: normal;
    font-weight: normal;
    font-style: normal;
    font-family: 'Times New Roman';
    text-align: center;
    color: black;
}

p{
    font-size: normal;
    font-weight: normal;
    font-style: normal;
    font-family: 'Times New Roman';
    text-align: center;
    color: black;  
}

input[type=text]{
    width: 30%;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 10%;
    background-color: cyan;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=password]{
    width: 30%;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 10%;
    background-color: cyan;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

button{
    width: 30%;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 10%;
    background-color:lightgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link{
    color: black;
    background-color: white;
    text-decoration: none;
}
